In [1]:
from PlaceQuality import CreateModel, PlaceTypeQuality, BuildingTransform
import pandas as pd
import numpy as np

# Create Model

In [2]:

modelCreator = CreateModel()
df_data = modelCreator.loadData()
df_data = modelCreator.cleansing(df_data)

d:\NECTEC\tanrabad\quality\tanrabad_quality\PlaceQuality.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other['other_class'] = other_class
d:\NECTEC\tanrabad\quality\tanrabad_quality\PlaceQuality.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  other['other_class'] = other.other_class.map({'address':'habitat', 'person':'habitat', 'habitat':'habitat', 'education':'education', 'religious':'religious', 'health':'health', 'hotel':'hotel', 'factory':'factory', 'other':'other'})

In [3]:
modelCreator.createLogistic(df_data)

{'education': {'accuracy': 1.0, 'std': 0.0},
 'factory': {'accuracy': 1.0, 'std': 0.0},
 'habitat': {'accuracy': 1.0, 'std': 0.0},
 'health': {'accuracy': 1.0, 'std': 0.0},
 'hotel': {'accuracy': 1.0, 'std': 0.0},
 'religious': {'accuracy': 1.0, 'std': 0.0}}

# PlaceType check quality

In [2]:
quality = PlaceTypeQuality()

In [3]:
# features = ['address', 'person', 'habitat', 'education','religious', 'health', 'hotel', 'factory', 'otherworkspace', 'cospace']
d_test = [[22,0,0,0,0,0,0,0,0,0], 
        [0,0,0,0,2,0,0,0,0,0]]
        
place_type = ['habitat', 'factory']

In [4]:
data = quality.placetype_proba(d_test)
data

   habitat  education  factory   health    hotel  religious
0  1.00000    0.00000  0.00000  0.00000  0.00001        0.0
1  0.00084    0.00025  0.00035  0.00029  0.00042        1.0

In [5]:
data = quality.proba(d_test, place_type)
data

  place_type    propa
0    habitat  1.00000
1    factory  0.00035

# Building Transform

In [6]:
transformer = BuildingTransform()

In [7]:
df_transform = pd.read_csv("./sources/input/survey_example.csv")
df_transform

,place_id,place_namt,building_name,place_type_id,place_type_name
0,0008cb06-71e4-46d4-a5c2-622232dc18bb,ชุมชนบ้านต่ำบุญศิริ อุดมทรัพย์ซอย10,206/1,1,หมู่บ้าน/ชุมชน
1,0008cb06-71e4-46d4-a5c2-622232dc18bb,ชุมชนบ้านต่ำบุญศิริ อุดมทรัพย์ซอย10,158/54,1,หมู่บ้าน/ชุมชน
2,0008cb06-71e4-46d4-a5c2-622232dc18bb,ชุมชนบ้านต่ำบุญศิริ อุดมทรัพย์ซอย10,158/40,1,หมู่บ้าน/ชุมชน
3,0008cb06-71e4-46d4-a5c2-622232dc18bb,ชุมชนบ้านต่ำบุญศิริ อุดมทรัพย์ซอย10,158/130,1,หมู่บ้าน/ชุมชน
4,0008cb06-71e4-46d4-a5c2-622232dc18bb,ชุมชนบ้านต่ำบุญศิริ อุดมทรัพย์ซอย10,158/141,1,หมู่บ้าน/ชุมชน
...,...,...,...,...,...
196,cab0314f-cd3a-45e1-b890-d7f1d9208b12,วัดขวด,ศาลา-1,2,ศาสนสถาน
197,cb2ad214-c146-4c5a-a5fa-d46d04c2a56e,วัด,1,2,ศาสนสถาน
198,cb56bfbf-5cf0-4463-8f46-6e852bf13701,วัดลานหอย,กุฏิ,2,ศาสนสถาน
199,cb56bfbf-5cf0-4463-8f46-6e852bf13701,วัดลานหอย,ศาลา,2,ศาสนสถาน
200,cb56bfbf-5cf0-4463-8f46-6e852bf13701,วัดลานหอย,กุฏิ1,2,ศาสนสถาน

In [8]:
df_testing = transformer.transform(df_transform)
df_testing.head()

place_name_class: religious  --  อาคาร1  => Other
place_name_class: religious  --  อาคาร 2  => Other
place_name_class: religious  --  กระเพาะ  => Other
place_name_class: other  --  บริเวณวีด  => Other
Category of กุดฎี1 >> กุฎี  =>  religious

,place_id,place_namt,keyword,address,person,otherworkspace,cospace,government,habitat,education,religious,health,hotel,factory,other,classification
0,0008cb06-71e4-46d4-a5c2-622232dc18bb,ชุมชนบ้านต่ำบุญศิริ อุดมทรัพย์ซอย10,habitat,22,0,0,0,0,0,0,0,0,0,0,0,habitat
1,00148805-af73-4036-8a30-a3f46f665ce6,ชุมชนพระยาสุพรรณ,habitat,58,0,0,0,0,0,0,0,0,0,0,0,habitat
2,c496e648-c9ed-4ff9-a6de-e3ce7c9065f6,บัานหาดเเสือเต้นหมู่6ต.คุ้งตะเภาอเมืองจ.อุตรดิตถ์,habitat,40,0,0,0,0,0,0,0,0,0,0,0,religious
3,c4c9deb4-b113-4ff1-bf19-b9be410be7a4,วัดเนินหัวโล้,religious,0,0,0,1,0,0,0,1,0,0,0,0,religious
4,c4d9f639-81ee-497c-a550-7026a0dc786c,ว้ดบ้านไร่,habitat,0,0,0,1,0,0,0,1,0,0,0,0,religious

In [9]:
features = ['address', 'person', 'habitat', 'education','religious', 'health', 'hotel', 'factory', 'otherworkspace', 'cospace']
testing = df_testing[features]
place_type = df_testing.classification.tolist()
testing.head(10)

,address,person,habitat,education,religious,health,hotel,factory,otherworkspace,cospace
0,22,0,0,0,0,0,0,0,0,0
1,58,0,0,0,0,0,0,0,0,0
2,40,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,1
4,0,0,0,0,1,0,0,0,0,1
5,1,0,0,5,5,0,5,0,0,0
6,0,0,0,0,1,0,0,0,0,0
7,0,0,0,0,1,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0,0
9,0,0,0,0,2,0,0,0,0,0

In [10]:
quality_prop = quality.placetype_proba(testing)
quality_prop

    habitat  education  factory   health    hotel  religious
0   1.00000    0.00000  0.00000  0.00000  0.00001    0.00000
1   1.00000    0.00000  0.00000  0.00000  0.00000    0.00000
2   1.00000    0.00000  0.00000  0.00000  0.00000    0.00000
3   0.00208    0.00797  0.00580  0.00590  0.00467    0.99699
4   0.00208    0.00797  0.00580  0.00590  0.00467    0.99699
5   0.00000    1.00000  0.00000  0.00000  0.74981    1.00000
6   0.00371    0.00772  0.00715  0.00748  0.00641    0.99648
7   0.00371    0.00772  0.00715  0.00748  0.00641    0.99648
8   0.00371    0.00772  0.00715  0.00748  0.00641    0.99648
9   0.00084    0.00025  0.00035  0.00029  0.00042    1.00000
10  0.00047    0.00026  0.00029  0.00023  0.00031    1.00000
11  0.04998    0.11999  0.08024  0.10165  0.06186    0.10547
12  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
13  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
14  0.00371    0.00772  0.00715  0.00748  0.00641    0.99648
15  0.00000    0.00000  0.00000  0.00000  0.00000    1.00000
16  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
17  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
18  0.04998    0.11999  0.08024  0.10165  0.06186    0.10547
19  0.00371    0.00772  0.00715  0.00748  0.00641    0.99648
20  0.00023    0.93324  0.00019  0.00014  0.00018    0.91931
21  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
22  0.00010    0.00000  0.00000  0.00000  0.00000    1.00000
23  0.00208    0.00797  0.00580  0.00590  0.00467    0.99699
24  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
25  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
26  0.00019    0.00001  0.00002  0.00001  0.00003    1.00000
27  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
28  0.00084    0.00025  0.00035  0.00029  0.00042    1.00000
29  0.00208    0.00797  0.00580  0.00590  0.00467    0.99699
30  0.00371    0.00772  0.00715  0.00748  0.00641    0.99648
31  0.00004    0.00000  0.00000  0.00000  0.00000    1.00000
32  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
33  0.04998    0.11999  0.08024  0.10165  0.06186    0.10547
34  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
35  0.04998    0.11999  0.08024  0.10165  0.06186    0.10547
36  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
37  0.14431    0.07271  0.04935  0.06184  0.04202    0.06416
38  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
39  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
40  0.01614    0.19168  0.12789  0.16267  0.09019    0.16859
41  0.04998    0.11999  0.08024  0.10165  0.06186    0.10547
42  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
43  0.00117    0.00824  0.00470  0.00464  0.00339    0.99743
44  0.00001    0.00000  0.00000  0.00000  0.00000    1.00000
45  0.00911    0.19686  0.10612  0.13254  0.06716    0.19183
46  0.04998    0.11999  0.08024  0.10165  0.06186    0.10547
47  0.00047    0.00026  0.00029  0.00023  0.00031    1.00000

In [13]:
quality.placetype_assess(testing, 0.85)

    quality quality_level
0         1          high
1         1          high
2         1          high
3         1          high
4         1          high
5         2     ambiguous
6         1          high
7         1          high
8         1          high
9         1          high
10        1          high
11        0           low
12        1          high
13        0           low
14        1          high
15        1          high
16        1          high
17        0           low
18        0           low
19        1          high
20        2     ambiguous
21        1          high
22        1          high
23        1          high
24        0           low
25        0           low
26        1          high
27        0           low
28        1          high
29        1          high
30        1          high
31        1          high
32        0           low
33        0           low
34        0           low
35        0           low
36        1          high
37        0           low
38        1          high
39        0           low
40        0           low
41        0           low
42        1          high
43        1          high
44        1          high
45        0           low
46        0           low
47        1          high

In [18]:
propa = quality.proba(testing, place_type)
propa

   place_type    propa
0     habitat  1.00000
1     habitat  1.00000
2   religious  0.00000
3   religious  0.99699
4   religious  0.99699
5   religious  1.00000
6   religious  0.99648
7   religious  0.99648
8   religious  0.99648
9   religious  1.00000
10  religious  1.00000
11  religious  0.10547
12  religious  1.00000
13  religious  0.19183
14  religious  0.99648
15  religious  1.00000
16  religious  1.00000
17  religious  0.19183
18  religious  0.10547
19  religious  0.99648
20  religious  0.91931
21  religious  1.00000
22  religious  1.00000
23  religious  0.99699
24  religious  0.19183
25  religious  0.19183
26  religious  1.00000
27  religious  0.19183
28  religious  1.00000
29  religious  0.99699
30  religious  0.99648
31  religious  1.00000
32  religious  0.19183
33  religious  0.10547
34  religious  0.19183
35  religious  0.10547
36  religious  1.00000
37  religious  0.06416
38  religious  1.00000
39  religious  0.19183
40  religious  0.16859
41  religious  0.10547
42  religious  1.00000
43  religious  0.99743
44  religious  1.00000
45  religious  0.19183
46  religious  0.10547
47  religious  1.00000

In [20]:
%%timeit
df_transform_test = df_transform[df_transform.place_id == 'c5567e74-0acb-41a8-be34-50330027a381']
df_testing = transformer.transform(df_transform_test)
features = ['address', 'person', 'habitat', 'education','religious', 'health', 'hotel', 'factory', 'otherworkspace', 'cospace']
testing = df_testing[features]
place_type = df_testing.classification.tolist()
quality.placetype_proba(testing)

12.2 ms ± 450 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [50]:
df_transform_test = df_transform[df_transform.place_id == 'c5567e74-0acb-41a8-be34-50330027a381']
df_transform_over = df_transform_test.sample(300, replace=True)
df_transform_test = pd.concat([df_transform_test, df_transform_over], axis=0)

In [51]:
%%timeit
df_testing = transformer.transform(df_transform_test)
features = ['address', 'person', 'habitat', 'education','religious', 'health', 'hotel', 'factory', 'otherworkspace', 'cospace']
testing = df_testing[features]
place_type = df_testing.classification.tolist()
quality.placetype_proba(testing)

30.9 ms ± 244 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [45]:
bname = df_transform[df_transform.place_id == 'c814bf2f-047e-4c0b-bfdf-bd4e99b76e32']

In [49]:
%%timeit
transformer.transform(bname)

2.96 ms ± 73 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)